/* Blockquote */
blockquote {
  background-color: #E5DFD5;
  padding: 10px;
  border-color: #719847;
  border-radius: 5px;
}

/* Table */
table {
  width: auto !important;
}
thead {
  border-top: solid #E5DFD5;
  border-bottom: solid #E5DFD5;
}

/* Highlight Color */
::selection {
  background-color: #8CB883 !important;
  color: #215A59!important;
}
::-moz-selection {
  background-color: #8CB883 !important;
  color: #215A59 !important;
}

/* Sidebar */
.sidebar-title {
  color: #ECF0F1;
}